@model int

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">ORDER THÀNH CÔNG</h1><br />
        <img src="~/images/success.jpg" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Cảm ơn bạn đã tin tưởng đặt hàng! <br />
        Chúng tôi đã nhận đơn hàng và sẽ phản hồi vào mail của bạn sớm nhất!
        <br />
        Mã đơn hàng của bạn : @Model
    </div>
</div>
 
